<%- include header.ejs %>
<tr>
  <td>
        <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Your BlackGentry account has been reactivated.</p>
        <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Contact us if you have any questions. Thanks.</p>
  </td>
</tr>

<%- include footer.ejs %>