<%- include header.ejs %>
<tr>
  <td>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Great news, <%= data %></p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Your profile has been officially approved. We reviewed your profile and we are excited to welcome you as a member of the BlackGentry community.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Here are some tips to help you get started.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Add more pictures to your profile</strong>: We require 3 pictures to register but members like to see more. You can add up to 6 pictures.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Create a detailed Profile</strong>: The more information you have on your profile, the more attention your profile will get. Edit your profile and enter more information about yourself.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Select and answer prompts</strong>: Empty profiles are boring. Prompts are a great way to show others your personality and tell others interesting details about you.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"></p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Remember that BlackGentry is all about creating a community of quality people. Be nice, be classy and respectful.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"></p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Thanks,</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">The BlackGentry Team</p>
  </td>
</tr>

<%- include footer.ejs %>