<%- include header.ejs %>
<tr>
  <td>
        <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Your BlackGentry account has been deactivated by the admin.</p>
        <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">If you feel that this is in error, please send us an email at contact@blackgentryapp.com and we will get back to you. Thank you.</p>
  </td>
</tr>

<%- include footer.ejs %>