<%- include header.ejs %>
<tr>
  <td>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">To authenticate, please use the following One Time Passcode (OTP): <strong> <%= data %> </strong> </p>
      <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">  Do not share this OTP with anyone. We take your account security very seriously. </p>
      <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"> Thank you.</p>
  </td>
</tr>

<%- include footer.ejs %>