<%- include header.ejs %>
<tr>
  <td>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">Your profile has been rejected from BlackGentry but we will like you to apply again. We unfortunately do not provide specific reasons when profiles are rejected. Please look at the list below for the criteria that we use to approve profiles. Our goal is to create a community of ambitious and driven Black professionals and we maintain this through our approval process.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;">To reapply, go to the Edit Profile page, update your profile and click the resubmit button.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"></p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>BlackGentry Requirements</strong></p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Completed registration questions</strong>: All registration questions should be completed. We also look for effort. No one word or super short answers. Take the time to tell others about yourself.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Matching Selfie</strong>: Your selfie must match your profile pictures. We will not show your selfie on your profile. Nobody likes a catfish or fake profiles. We ensure that you are who you say you are.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Classy Photos</strong>: No nude, sexually explicit or gang related pictures.</p>
    <p style="margin-bottom: 0.28cm;line-height: 108%;text-align: left;"><strong>Clear pictures:</strong> We reject profiles with blurry pictures, unrelated pictures, excessive group pictures or profiles with memes.</p>
  </td>
</tr>

<%- include footer.ejs %>