<%- include header.ejs %>
<tr>
  <td>
    <h3>To authenticate, please use the following One Time Passcode (OTP): <%= data %>
      Do not share this OTP with anyone. We take your account security very seriously.
      Thank you.</h3>
  </td>
</tr>

<%- include footer.ejs %>