<!-- Sidebar scroll-->
<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark profile-dd" href="javascript:void(0)" aria-expanded="false">
                    <img src="/assets/images/users/1.jpg" class="rounded-circle ml-2" width="30">
                    <span class="hide-menu"> Admin </span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">

                    <li class="sidebar-item">
                        <a href="/admin/logout" class="sidebar-link">
                            <i class="fas fa-power-off"></i>
                            <span class="hide-menu"> Logout </span>
                        </a>
                    </li>
                </ul>
            </li>
            <div class="devider"></div>

            <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    <i class="fa fa-users"></i>
                    <span class="hide-menu">Users</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a href="/admin/users/list" class="sidebar-link">
                            <i class="mdi mdi-account-box"></i>
                            <span class="hide-menu"> All Users </span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="fa fa-check-circle"></i>
                        <span class="hide-menu">Logged In Users</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/admin/users/iosList" class="sidebar-link">
                                <i class="fa fa-apple"></i>
                                <span class="hide-menu"> IOS Users</span>
                            </a>
                        </li> 
                        <li class="sidebar-item">
                            <a href="/admin/users/androidList" class="sidebar-link">
                                <i class="mdi mdi-android"></i>
                                <span class="hide-menu"> Android Users</span>
                            </a>
                        </li>
                    </ul>
                </li>

            <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    <i class="fa fa-heart"></i>
                    <span class="hide-menu">Matches </span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item">
                        <a href="/admin/matches/list" class="sidebar-link">
                            <i class="mdi mdi-view-quilt"></i>
                            <span class="hide-menu"> All Matches </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    <i class="fa fa-ban"></i>
                    <span class="hide-menu">Reports/Complaints</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item">
                        <a href="/admin/complaints/list" class="sidebar-link">
                            <i class="mdi mdi-format-align-right"></i>
                            <span class="hide-menu"> Complaints </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    <i class="fa fa-user-plus"></i>
                    <span class="hide-menu">Verifications</span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level">
                    <li class="sidebar-item">
                        <a href="/admin/verifications/list" class="sidebar-link">
                            <i class="mdi mdi-format-align-right"></i>
                            <span class="hide-menu"> Pending </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/admin/verifications/rejectlist" class="sidebar-link">
                            <i class="mdi mdi-format-align-right"></i>
                            <span class="hide-menu"> Rejected </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-currency-usd"></i>
                        <span class="hide-menu">Purchases</span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/admin/subscriptions/list" class="sidebar-link">
                                <i class="mdi mdi-format-align-right"></i>
                                <span class="hide-menu"> Subscriptions </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/tokens/list" class="sidebar-link">
                                <i class="mdi mdi-format-align-right"></i>
                                <span class="hide-menu"> Tokens </span>
                            </a>
                        </li>
    
                    </ul>
                </li>
    
            <div class="devider"></div>

            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/logout" aria-expanded="false">
                    <i class="fa fa-power-off"></i>
                    <span class="hide-menu">Log Out</span>
                </a>
            </li>

        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->