<%- include header.ejs %>
                <tr>
                  <td>
                    <h3><%- data %></h3>
                    <%- console.log("this is email--------------",data) %>

                  <p>Thank you.</p>
                  </td>
                  </tr>               
                  <!-- <tr>
                  <td class="wrapper" style="font-family: Open Sans, sans-serif;font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 0px 70px 50px; text-align: center;">
                    <p style="font-size: 16px;vertical-align: top; box-sizing: border-box; margin-top: 0;color: #000"><a href="">click here to reset your password</a></p>
                  </td>
                </tr> -->
                <%- include footer.ejs %>
              
